@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --text-largeHeader: 34px;
  --text-pageHeader: 28px;
  --text-base: 17px;
  --text-h1: 28px;
  --text-h2: 22px;
  --text-h3: 20px;
  --text-subHeader: 15px;
  --text-footnote: 13px;
  --text-caption: 10px;
  --text-caption2: 8px;
}

@font-face {
  font-family: 'Raleway';
  src: url('./Raleway-VariableFont_wght.ttf');
}

@layer base {
  @import 'vuesax-alpha/dist/index.css';
  @import './vusax-overrides.css';
}

* {
  font-family: 'Raleway', sans-serif;
}
