@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --text-largeHeader: 34px;
  --text-pageTitle: 28px;
  --text-base: 17px;
  --text-h1: 28px;
  --text-h2: 22px;
  --text-h3: 20px;
  --text-subHeader: 15px;
  --text-footnote: 13px;
  --text-caption: 10px;
  --text-caption2: 8px;
}

:root {
  --vs-primary: 99, 100, 246;
  --vs-success: 0, 209, 8;
  --vs-warn: 246, 178, 99;
  --vs-danger: 246, 99, 99;
  --vs-dark: 36, 33, 69;
}

@layer base {
  @import 'vuesax-alpha/dist/index.css';
}
