:root {
  --vs-primary: 99, 100, 246;
  --vs-success: 0, 209, 8;
  --vs-warn: 246, 178, 99;
  --vs-danger: 246, 99, 99;
  --vs-dark: 36, 33, 69;
}

.vs-input__label {
  left: 8px;
}

.vs-button {
  margin: 0;
}

.memoryContainer [class^='vs'] {
  font-family: 'Raleway', sans-serif !important;
}
